body {   /* 마진값을 없애기 위해 */
  margin: 0;
  padding: 0;
}
.content {   /* 스크롤을 만들기 위해 높이가 있는 css 추가 */
  width: 100%;
  height: 3000px;
  background-color: antiquewhite;
}
.progressbar {   /* progress를 감싸고, 위치와 크기조절 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 500;
}
.progress {
  width: 0%;  /* 프로그래스바 진행정도 */
  height: 100%;
  background-color: tomato;
  transition: width 0.3s;
}